# Dependencies
node_modules/

# Next.js build output
.next/

# OS files
.DS_Store
Thumbs.db
.antigravitycli/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Local env files
.env
.env*.local

# Large Raw Datasets (Strictly ignored)
ai-engine/datasets/allergen2/
ai-engine/datasets/allergen3/
ai-engine/datasets/nutrition/
ai-engine/datasets/recipe2/
ai-engine/datasets/recipe3/
ai-engine/datasets/recipe4/

# Keep Master Datasets (Cleaned)
!ai-engine/datasets/master/
.vercel
